In [ ]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_excel('甲班線代期中.xlsx')#三甲
dp=pd.read_excel('乙班線代期中.xlsx')#三乙

In [ ]:
df.dtypes

id       float64
name      object
score    float64
dtype: object

In [ ]:
dp.dtypes

id       float64
name      object
score    float64
dtype: object

In [ ]:
df.loc[df['score']>=60]

              id name  score
23  1.110932e+09  吳冠興   75.0
24  1.110932e+09  巫昌霖   69.0
31  1.110932e+09  張凱迪   60.0
38  1.110932e+09  黃雋輔   60.0
44  1.110932e+09  連峻緯   68.0
47  1.110932e+09  吳界觀   67.0
51  1.110932e+09  郭茂坤   63.0

In [ ]:
x=df.loc[df['score']>=60]['id']
print("甲班及格的有:",x.count(),"位")

甲班及格的有: 7 位

In [ ]:
df.loc[df['score']==-1]#缺考名單

              id name  score
0   1.110732e+09  卓柏燁   -1.0
37  1.110932e+09  黃俊翔   -1.0

In [ ]:
g=df.drop([0,37,56])#資料清洗缺考的人以及平均項
g

              id name  score
1   1.110803e+09  陳昀澤   54.0
2   1.110832e+09  林依庭   13.0
3   1.110832e+09  黃家沛    8.0
4   1.110832e+09  林亭凱   17.0
5   1.110832e+09  許博翔   18.0
6   1.110832e+09  陳柏嘉    0.0
7   1.110832e+09  黃聖哲   24.0
8   1.110832e+09  鄭竣隆   19.0
9   1.110832e+09  蘇姵予   19.0
10  1.110832e+09  陳柏予   39.0
11  1.110832e+09  鄭有程   38.0
12  1.110932e+09  林羽真   53.0
13  1.110932e+09  林玟廷   47.0
14  1.110932e+09  柯紫瑄   12.0
15  1.110932e+09  許亞琪   50.0
16  1.110932e+09  黃喬榆   53.0
17  1.110932e+09  廖莉純   28.0
18  1.110932e+09  劉宇恩   25.0
19  1.110932e+09  林詩穎   58.0
20  1.110932e+09  黃映晴   57.0
21  1.110932e+09  丁冠瑋   43.0
22  1.110932e+09  王庭翊    7.0
23  1.110932e+09  吳冠興   75.0
24  1.110932e+09  巫昌霖   69.0
25  1.110932e+09  李家竣   16.0
26  1.110932e+09  林岑諺   41.0
27  1.110932e+09  林泓志   34.0
28  1.110932e+09  林昱維   12.0
29  1.110932e+09  林詩閎   37.0
30  1.110932e+09  胡均曄   12.0
31  1.110932e+09  張凱迪   60.0
32  1.110932e+09  許丞翰   20.0
33  1.110932e+09  陳囿慎   18.0
34  1.110932e+09  陳柏翰   27.0
35  1.110932e+09  曾暘憲   19.0
36  1.110932e+09  黃信睿   22.0
38  1.110932e+09  黃雋輔   60.0
39  1.110932e+09  廖朝楷   20.0
40  1.110932e+09  劉尚典   29.0
41  1.110932e+09  潘仕敦   27.0
42  1.110932e+09  賴育呈   35.0
43  1.110932e+09  蘇凱睿   27.0
44  1.110932e+09  連峻緯   68.0
45  1.110932e+09  王于咸   20.0
46  1.110932e+09  吳岱融   15.0
47  1.110932e+09  吳界觀   67.0
48  1.110932e+09  林廷魁   23.0
49  1.110932e+09  洪苡哲   47.0
50  1.110932e+09  范伯丞   25.0
51  1.110932e+09  郭茂坤   63.0
52  1.110932e+09  陳傳逸   43.0
53  1.110932e+09  黃粲宇   19.0
54  1.110932e+09  廖悅丞   26.0
55  1.110932e+09  陳昱凱   39.0

In [ ]:
e=dp.loc[dp['score']>=60]
e.sort_values(['score'],ascending=False)

              id name  score
20  1.110932e+09  許皓翔  100.0
6   1.110932e+09  劉依華   98.0
16  1.110932e+09  邱海齊   93.0
42  1.110932e+09  陳顗勛   87.0
40  1.110932e+09  許睿宸   87.0
5   1.110932e+09  張詠妮   86.0
10  1.110932e+09  吳晉懿   84.0
7   1.110932e+09  王子翃   79.0
11  1.110932e+09  李周松   78.0
27  1.110932e+09  楊宇誠   78.0
30  1.110932e+09  賴文翊   71.0
17  1.110932e+09  徐仕遠   71.0
26  1.110932e+09  黃祈叡   66.0
24  1.110932e+09  游東澄   64.0
25  1.110932e+09  黃信誌   63.0
37  1.110932e+09  李英維   62.0
43  1.110932e+09  楊琮富   62.0
8   1.110932e+09  王茗顥   61.0

In [ ]:
y=dp.loc[dp['score']>=60]['id']
print("乙班及格的有:",y.count(),"位")

乙班及格的有: 18 位

In [ ]:
n=dp.drop([46])
n.sort_values(['score'],ascending=False)

              id name  score
20  1.110932e+09  許皓翔  100.0
6   1.110932e+09  劉依華   98.0
16  1.110932e+09  邱海齊   93.0
40  1.110932e+09  許睿宸   87.0
42  1.110932e+09  陳顗勛   87.0
5   1.110932e+09  張詠妮   86.0
10  1.110932e+09  吳晉懿   84.0
7   1.110932e+09  王子翃   79.0
27  1.110932e+09  楊宇誠   78.0
11  1.110932e+09  李周松   78.0
17  1.110932e+09  徐仕遠   71.0
30  1.110932e+09  賴文翊   71.0
26  1.110932e+09  黃祈叡   66.0
24  1.110932e+09  游東澄   64.0
25  1.110932e+09  黃信誌   63.0
37  1.110932e+09  李英維   62.0
43  1.110932e+09  楊琮富   62.0
8   1.110932e+09  王茗顥   61.0
4   1.110932e+09  廖子芯   58.0
36  1.110932e+09  吳承浤   58.0
33  1.110932e+09  陳代杰   56.0
34  1.110932e+09  王麒程   55.0
0   1.110932e+09  林欣岑   53.0
14  1.110932e+09  林奕辰   50.0
15  1.110932e+09  林楷昕   47.0
38  1.110932e+09  林承得   47.0
9   1.110932e+09  吳承翰   47.0
35  1.110932e+09   何牧   45.0
18  1.110932e+09  翁嘉佑   42.0
21  1.110932e+09  陳彥倫   41.0
2   1.110932e+09  張家瑋   40.0
1   1.110932e+09  林芝伃   34.0
39  1.110932e+09  洪振宇   25.0
19  1.110932e+09  張棋閔   25.0
45  1.110932e+09  蘇信淳   24.0
3   1.110932e+09  黃芷喻   24.0
12  1.110932e+09  林士權   22.0
22  1.110932e+09  陳科綸   21.0
28  1.110932e+09  劉立興   20.0
23  1.110932e+09  陳毅澧   20.0
13  1.110932e+09  林辰恩   19.0
29  1.110932e+09  蔡侑儒   18.0
41  1.110932e+09  陳宥銨   18.0
44  1.110932e+09  蔡仁捷   15.0
32  1.110932e+09  温梓桀   10.0
31  1.110932e+09  羅允佑    8.0

In [ ]:
g['score'].std()#資工三甲標準差

18.759064894692127

In [ ]:
n['score'].std()#資工三乙標準差

26.041735362228238

In [ ]:
pc=df['score']
ave=pc.mean()
pr=dp['score']
ax=pr.mean()
print(" 1.資工三甲全班平均為:",ave,"\n","2.資工三乙全班平均為:",ax)

 1.資工三甲全班平均為: 32.05357142857142
 2.資工三乙全班平均為: 50.69565217391304